.weatherContainer {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.weatherInfo {
  font-size: 1.2rem;
  color: #333;
}

.weatherInfo p {
  margin: 10px 0;
}

.forecastContainer {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
}

.image_button {
  display: flex;
  margin: auto;
  width: 10rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.image_button:hover {
  background-color: #f0f3f4;
}

.image {
  margin-top: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
}

.label {
  width: 10rem;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.link {
  position: fixed;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: #f0f3f4;
  text-decoration: none;
  color: black;
}

.link:hover {
  background-color: lightgrey;
}
