.container {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100vh;
  border-right: 1.5px solid black;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10;
}
