.container {
  margin: auto;
  width: 20rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.searchBarContainer {
  display: flex;
  gap: 0.5rem;
}

.searchInput {
  width: 15rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.searchButton {
  padding: 0.5rem 1rem;
  width: 5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background-color: #f0f3f4;
  color: #111618;
  margin-left: 0.5rem;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #e0e3e4;
}

.statusContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.loadingIndicator {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #666;
}

.errorMessage {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #d9534f; /* Bootstrap's "danger" red color */
  border: 1px solid #d9534f;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #f8d7da; /* Light red background for better visibility */
}
